
.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component {
    width: 100%;
    justify-content: space-between;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: -10px;
}


.user-component__title {
    font-weight: 600;
    font-size: 22px;
    color: #2e363e;
}

.user-component__subtitle {
    margin-top: 5px;
    color: rgba(0,0,0,0.4);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
    border-radius: 35px;
    margin-right: 20px;
    margin-bottom: -10px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0,0,0,0.4);
   
}

.user-component__time {
    display: block;
    margin-bottom: 5px;
}

.user-component__column .badge {
    position: relative;
    left: 15px;
    top: 2px;
}

.user-component__chanel-cnt {
    position: relative;
    left: 10px;
}

.user-component__text {
    position: relative;
}

.user-component__text i {
    position: absolute;
    top: 25px;
    right: -22px;
    color: red;
    border-radius: 100%;
    border: 2px solid red;
    padding: 3px 4px;
}